.board-container {
	display: flex;
	flex-direction: column;
}

.grid-col {
	display: flex;
	flex-direction: column;
	background-color: var(--bs-light);
}

.grid-col-header {
	display: flex;	
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	margin-left: var(--s-spacing);

	& p {
		font-weight: 500;
	}

	& button:first-child {
		margin-left: 4px;
	}

	& button:last-child {
		margin-right: 4px;
	}

	& .__title {
		padding: var(--s-spacing);
		& .__field {
			margin-left: var(--s-spacing);
		}	
	}
}

