/* Global */
/* https://blog.logrocket.com/style-forms-css/ */
:root {
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-light-gray: #ced4da;
	--bs-dark-gray: #343a40;
	--co-body-accent: #07c;
	--co-btn-text: #fff;
	--co-btn-bg: var(--co-body-accent);
	--co-btn-active-bg: #333;
	--co-btn-focus-bg: #333;
	--co-textfld-bg: #222;
	--co-textfld-border: #333;
	--co-textfld-active-border: #444;
	--co-textfld-focus-border: var(--co-body-accent);
	--co-textfld-valid-border: hsl(140 90% 20%);
	--co-textfld-valid-active-border: hsl(140 90% 30%);
	--co-textfld-valid-focus-border: hsl(140 90% 45%);
	--co-textfld-invalid-border: hsl(20 65% 75%);
	--co-textfld-invalid-active-border: hsl(20 65% 65%);
	--co-textfld-invalid-focus-border: hsl(20 65% 50%);
	--margin-form-gap: 1.5em;
	--margin-btn-gap: 1em;
	--margin-label: 0.5em;
	--height-textarea: 250px;
	--height-nav: 8em;
	--opacity-input-disabled: 0.5;
	--padding-inputs: .75em;
	--padding-btn: .75em;
	--radius-inputs: .25em;
	--height-icon: 20px;
	--width-icon: 20px;
	--height-icon-large: 30px;
	--width-icon-large: 30px;
	--radius-buttons: .25em;
	--transition-duration-inputs: 250ms;
	--transition-function-inputs: ease-in-out;
	--input-transition-inputs:
		color var(--transition-duration-inputs),
		background-color var(--transition-duration-inputs),
		border-color var(--transition-duration-inputs) var(--transition-function-inputs);
	--btn-transition-inputs:
		opacity var(--transition-duration-inputs) var(--transition-function-inputs);
	--width-inputs: 250px;
	--width-input-border: 2px;
	--width-textarea: 450px;
	--z-index-top: 99;
	--s-spacing: 8px;
	--m-spacing: 16px;
	--l-spacing: 32px;
}

input,
select,
textarea,
input::file-selector-button {
	accent-color: var(--co-body-accent);
	transition: var(--input-transition-inputs);
}

select,
textarea,
input[type="text"] {
	padding: var(--padding-inputs);
	border: var(--width-input-border) solid var(--co-textfld-border);
	border-radius: var(--radius-inputs);
	&:focus {
		outline: 0;
	}
	&:hover, &:active {
		border-color: var(--co-textfld-active-border);
	}
	&:focus {
		border-color: var(--co-textfld-focus-border);
	}
	&:required {
		&:valid {
			&:hover {

			},
			&:active {
				&:not([readonly], [disabled]) {
					border-color: var(--co-textfld-valid-active-border);	
				}	
			}
			&:focus {
				&:not([readonly], [disabled]){
					border-color: var(--co-textfld-valid-focus-border);	
				}
			}
		}
		&:invalid {
			&:hover {

			},
			&:active {
				&:not([readonly], [disabled]) {
					border-color: var(--co-textfld-invalid-active-border);	
				}	
			}
			&:focus {
				&:not([readonly], [disabled]){
					border-color: var(--co-textfld-invalid-focus-border);	
				}
			}
		}
	}
}

select,
input[type="text"]{
	width: var(--width-inputs);
	max-width: 100%;
}

textarea {
	width: var(--width-textarea);
	min-height: var(--height-textarea);
	max-width: 100%;
}

button, 
input[type="button"], 
input[type="submit"], 
input[type="reset"], 
input[type="file"]::file-selector-button {
	padding: var(--padding-btn);
	border: none;
	background-color: var(--bs-primary);
	color: var(--co-btn-text);
	transition: var(--btn-transition-inputs);
	border-radius: var(--radius-buttons);

	&:hover,
    &:active{
    /*	background-color: var(--co-btn-active-bg);
    	border-color: var(--co-btn-active-bg);*/
    	opacity: .5;
    }	
    &:focus{
    	/*background-color: var(--co-btn-active-bg);*/
    }
}

input::file-selector-button {
	margin-right: var(--margin-form-gap);
}

label {
	cursor: pointer;
	display: block;

	& + &,
	& + input,
	& + select,
	& + button,
	& + textarea {
		margin-top: var(--margin-label);	
	}
}

small {
	display: block;
	& + &,
	& + input,
	& + select,
	& + button,
	& + textarea {
		margin-top: var(--margin-label);
	}
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;	
	color: black;
}

:read-only { cursor: default }
:disabled {
  opacity: var(--opacity-input-disabled);
  cursor: not-allowed;
}

/* elements */

.jumbotron {
	padding: 16px;
	border: 4px solid;
	margin-top: 32px;
	margin-bottom: 32px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: var(--width-icon);
	height: var(--height-icon);
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-row {
	& + & {
		margin-top: var(--margin-form-gap);
	}
}

.form-row, .btn-group {
	display: flex;
	flex-wrap: wrap;
}

.form-row {
	gap: var(--margin-form-gap);
}

.btn-group {
	gap: var(--margin-btn-gap);
}

.close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 99;
}

/* modifiers */ 
.--transparent {
	background-color: transparent;
	color: black;
	border: 0;
}

.--alert {
	background-color: var(--bs-danger);
}

.--s-text {
	font-size: 16px;
}

.--m-text{
	font-size: 24px;
}

.--l-text {
	font-size: 36px;
}

.--l-icon {
	height: var(--height-icon-large);
	width: var(--width-icon-large);
}

.--visible {
	display: block;
}

.--hidden {
	display: none;
}

.--card-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.--transition-transform {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: var(--transition-duration-inputs); 
}

.--translate-x-0 {
	transform: translateX(0px);
}

.--translate-x-full-negative {
	transform: translateX(-100%);
}
