.status-select {
	text-align: center;
	border: 1px solid var(--bs-primary);
	color: white;

	& option { 
		color: black;
		background-color: white; 
	}
}

.--ignore-global {
	ul { 
	    list-style-type: disc; 
	    list-style-position: inside; 
	}
	ol { 
	   list-style-type: decimal; 
	   list-style-position: inside; 
	}
	ul ul, ol ul { 
	   list-style-type: circle; 
	   list-style-position: inside; 
	   margin-left: 15px; 
	}
	ol ol, ul ol { 
	   list-style-type: lower-latin; 
	   list-style-position: inside; 
	   margin-left: 15px; 
	}
	a {
		text-decoration: underline;
		color: blue;
	}
	code {
		font-family: monospace; 
		font-size: 14px; 
		overflow-wrap: break-word; 
		background: rgb(241, 241, 241); 
		border-radius: 3px; 
		padding: 1px 3px;
	}
}
