.sidebar {
    height: 100dvh;
	height: 100vh;
	width: var(--sidebar-width);
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--bs-light);
	z-index: var(--z-index-top);
	display: flex;          
    flex-direction: column; 

	& a {
		padding: 8px;
		margin-bottom: 8px;
		border-radius: var(--radius-inputs);
	}
}

.sidebar__container {
	position: relative;
	margin-left: var(--m-spacing);
	margin-right: var(--m-spacing);
	flex: 1;               
    display: flex;         
    flex-direction: column;
    justify-content: space-between; /* pushes bottom bar down */
}

.sidebar__links {
	margin-top: var(--m-spacing);
	margin-bottom: var(--m-spacing);
	display: flex;
	flex-direction: column;
}

.sidebar__bottom-bar {
	width: 100%;
	border-radius: var(--radius-inputs);
	height: 5rem;
}

.sidebar__bottom-bar__content {
	margin-left: var(--m-spacing);
	margin-right: var(--m-spacing);
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;

	& div {
		margin-right: 8px;
	}
}

/* @media screen and (max-height: 700px) {
	.sidebar__links {
		height: 250px;
		overflow-y: scroll;
	}
} */
