table {
	border-collapse: collapse;	
	width: 100%;

	& td {
		padding: var(--s-spacing);
		max-width: 200px;
		word-break: break-word;
	}

	& th {
		border-left: none;
		border-right: none;
		padding: var(--s-spacing);
		text-align: left;
	}

}
