.ticket-card{
	margin: 0 var(--s-spacing) var(--s-spacing) var(--s-spacing);
	padding: var(--s-spacing);
	word-wrap: break-word;
	background-color: white;

	& div {
		margin-top: var(--xs-spacing);
		margin-bottom: var(--xs-spacing);
	}

	& .__row {
		display: flex;	
		flex-direction: row;
		align-items: center;
	}

	& .__header {
		display: flex;	
		flex-direction: row;
		justify-content: space-between;
		& span {
			font-weight: bold;	
			max-width: 80%;
		}

		& svg {
			flex-shrink: 0;
			margin-top: var(--xs-spacing);
		}

	}

	& .__icon {
		gap: var(--icon-gap);
	}
}