.ticket-card{
	margin: 0 var(--s-spacing) var(--s-spacing) var(--s-spacing);
	padding: var(--s-spacing);
	word-wrap: break-word;
	background-color: white;
	

	& .__row {
		display: flex;	
		flex-direction: row;
		align-items: center;
		& + & {
			margin-top: var(--icon-gap);
		} 
	}

	& .__header {
		justify-content: space-between;

		& span {
			font-weight: bold;	
		}

		& svg {
			flex-shrink: 0;
		}

	}

	& .__icon {
		gap: var(--icon-gap);
	}
}